.main_body_items_and_filter{
    /*flex: border-box;*/
    /*min-height: 10vh;*/
    display: grid;
    grid-template-columns: [column1] 25px [column2] 20% [column3] 40px [column4] auto [column5] 25px [column6];
    grid-template-rows: [row1] 10px [row2] auto [row3] auto [row4] 10px [row5];
}

.marginLeft {
    grid-area: row1 / column1 / row4 / column2;
}
.marginRight {
    grid-area: row1 / column5 / row4 / column6;
}

.filters {
    grid-area: row3 / column2 / row4 / column3;
    margin: 20px;
    /*display: flex;*/
    /*flex-direction: row ;*/
}

.recipes {
    grid-area: row3 / column4 / row5 / column5;
}
.header {
    /*grid-row: row2/ row3;*/
    /*grid-column: column1/column5;*/
    grid-area: row2 / column1 / row3 / column5;
}


/*.main-body-recipes {*/
/*    grid-column-start: recpies;*/
/*    grid-column-end: span buffer2;*/
/*    grid-row-start: mainPageContent;*/
/*    grid-row-end: span end;*/
/*}*/

/*.main-body-filters {*/
/*    grid-column-start: filterStart;*/
/*    grid-column-end: span bufferStart;*/
/*    grid-row-start: mainPageContent;*/
/*    grid-row-end: span endrow   ;*/
/*}*/

.family-img{
    width: 250px;
    /*minWidth: 150px;*/
    height: 160px;
    padding: 1px;
    margin: 30px 0 0 45px;
    /*borderRadius: 10%;*/
    /*boxShadow: 0 0 1px 1px;*/
}
